[Unit]
Description=Doid Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/doid
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target
