[Unit]
Description=doi notification daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/doid
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target

